*{margin: 0px;
padding: 0px;}
body{
    font-family:sans-serif;

}
.header{
background-color: rgba(39 81 184);
width: 100%;
height: 15vh;
display: flex;
justify-content: space-around;
color: white;
}

.headerlogo{
    position: relative;
    bottom: 53px;
    transition:  transform 0.2s ease-out;
}
.headerlogo:hover{    
    transform: rotate(360deg);
  
}

.navbar{
    position: relative;
    bottom: -5 0px;
}
.menubar .list{
    list-style: none;
    text-decoration: none;
    display: inline-block;
}
.list a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: 600;
}
.buyproducts{
    border-radius: 15px;
    color: white;
    padding: 5px;
    background-color: rgba(0 92 184);
    border-color: whitesmoke;
}
.box{
    background-image: url("../images/New\ Project.jpg");
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
    
}
#maintext1{
    font-weight: bolder;
    font-size: 150px;
    position: relative;
    left: 900px;
     
    
    
}

#maintext2{
    font-weight: bolder;
    font-size: 40px;
    position: relative;
    left: 900px;
    bottom: 40px;
    letter-spacing: 2px;
 
    
}
#maintext3{
    font-weight: bolder;
    font-size: 80px;
    position: relative;
    left: 900px;
    bottom: 60px
}
#maintext4{
    font-weight: bolder;
    font-size: 35px;
    position: relative;
    left: 530px;
    bottom: 10px;
}
#maintext5{
    font-weight: bolder;
    font-size: 50px;
    position: relative;
    top: 20px;
    left: 280px;
}

.box2{
    background-image: url("../images/banner2.png");
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.learnmore{
    position: relative;
    top: 60px;
    left: -80px;
    border-radius: 15px;
    font-weight: 700;
    padding: 5px;
    border-color: whitesmoke;
    letter-spacing: 2px;

}
.box3{
    background-image: url("../images/illustration.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#lasttext1{
    font-weight: bolder;
    font-size: 110px;
    margin-left: 40px;
    position: relative;
    top: 65px;
}
#lasttext2{
    font-weight: bolder;
    font-size: 120px;
    margin-left: 40px;
    position: relative;
    word-spacing: 3px;
}
#lasttext3{
    font-weight: bolder;
    font-size: 120px;
    margin-left: 55px;
    position: relative;
    position: relative;
    bottom: 65px;
    word-spacing: 3px;
}
.box4{
    background-image: url("../images/box3.jpg");
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#jantext1{
    font-weight: bolder;
    font-size: 110px;
    margin-left: 40px;
    position: relative;
    top: 45px;
}
#jantext2{
    font-weight: bolder;
    font-size: 120px;
    margin-left: 40px;
    position: relative;
    bottom: 85px;
    word-spacing: 3px;
}
#pepsiicon{
    margin-left: -60px;
    margin-top: 125px;
}
.fav-items{
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
    position: relative;
    bottom: 130px;
    margin-left: 80px;
}
.footer{
    
    display: flex;
    justify-content: space-around;
    background-color: rgba(39 81 184);
    width: 100%;
    height: 50vh;
    color: white;
    align-items: center;
}
.card1 , .card2 , .card3 {
    margin: 20px;
}
#pepsiicon{
    position: relative;
    bottom: 70px;
}
.newsletter{
    width: 250px;
    height: 6vh;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid;
    padding: 10px;
}

.footer-icons{
    font-size: 35px;
    margin: 12px;
    margin-bottom: 20px;
}